
@*
    Default Navbar Component Partial View
*@
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-5 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
    <div class="container">
        <a class="navbar-brand" href="index.html"><img src="/public/assets/img/logo.svg" height="34" alt="logo" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
        <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base align-items-lg-center align-items-start">
                <li class="nav-item px-3 px-xl-4"><a class="nav-link fw-medium" aria-current="page" href="#service">@ViewBag.Hizmet</a></li>
                <li class="nav-item px-3 px-xl-4"><a class="nav-link fw-medium" aria-current="page" href="#destination">@ViewBag.Turlar</a></li>
                <li class="nav-item px-3 px-xl-4"><a class="nav-link fw-medium" aria-current="page" href="#booking">@ViewBag.Rezervasyon</a></li>
                <li class="nav-item px-3 px-xl-4"><a class="nav-link fw-medium" aria-current="page" href="#testimonial">@ViewBag.Referans</a></li>
                <li class="nav-item px-3 px-xl-4"><a class="nav-link fw-medium" aria-current="page" href="#iletisim">@ViewBag.Iletisim</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        @ViewBag.CurrentLanguage.ToUpper()
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end border-0 shadow-lg" aria-labelledby="languageDropdown" style="border-radius:0.3rem;">
                        <li><a class="dropdown-item" asp-controller="Default" asp-action="SetLanguage" asp-route-culture="tr" asp-route-returnUrl="@Context.Request.Path">TR</a></li>
                        <li><a class="dropdown-item" asp-controller="Default" asp-action="SetLanguage" asp-route-culture="en" asp-route-returnUrl="@Context.Request.Path">EN</a></li>
                        <li><a class="dropdown-item" asp-controller="Default" asp-action="SetLanguage" asp-route-culture="fr" asp-route-returnUrl="@Context.Request.Path">FR</a></li>
                        <li><a class="dropdown-item" asp-controller="Default" asp-action="SetLanguage" asp-route-culture="es" asp-route-returnUrl="@Context.Request.Path">ES</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>