@using JadooTravel.Dtos.FeatureDtos
@model List<ResultFeatureDto>
@{
    ViewData["Title"] = "FeatureList";
    Layout = "~/Views/AdminUI/Index.cshtml";
}

<div class="container">
    <br />
    <table class="table table-bordered">
        <tr>
            <td>#</td>
            <td>Başlık</td>
            <td>AltBaşlık</td>
            <td>Açıklama</td>
            <td>Video</td>
            <td>Sil</td>
            <td>Güncelle</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.MainTitle</td>
                <td>@item.Description</td>
                <td>@item.VideoUrl</td>
                <td><a href="/Feature/DeleteCategory/@item.Id" class="btn btn-danger">Sil</a></td>
                <td><a href="/Feature/UpdateFeature/@item.Id" class="btn btn-info">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Feature/CreateFeature" class="btn btn-success">Kayıt Ekle</a>
</div>

