@using JadooTravel.Dtos.ReservationDtos
@model List<ResultRezervationDto>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<section id="booking">

    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="mb-4 text-start">
                    <h5 class="text-secondary">@ViewBag.Subtitle</h5>
                    <h3 class="fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize">@ViewBag.Title</h3>
                </div>
                @foreach(var item in Model)
                {
                    <div class="d-flex align-items-start mb-5">
                        <div class="bg-primary me-sm-4 me-3 p-3" style="border-radius: 13px">  <i class="@item.IconUrl text-info text-primary" style="font-size: 20px;"></i></div>
                        <div class="flex-1">
                            <h5 class="text-secondary fw-bold fs-0">@item.Title</h5>
                            <p>@item.Description</p>
                        </div>
                    </div>
                }
            </div>
            <div class="col-lg-6">
                    <div class="p-4 bg-light rounded-3 shadow-sm">
                        <h5 class="text-secondary mb-3">@ViewBag.Baslik</h5>
                        <form>
                            <div class="mb-3">
                                <label for="name" class="form-label">@ViewBag.Adiniz</label>
                                <input type="text" class="form-control" id="name" >
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">@ViewBag.EPosta</label>
                                <input type="email" class="form-control" id="email" >
                            </div>
                            <div class="mb-3">
                                <label for="message" class="form-label">@ViewBag.Mesaj</label>
                                <textarea class="form-control" id="message" rows="4"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">@ViewBag.Gönder</button>
                        </form>
                    </div>
            </div>
        </div>
    </div><!-- end of .container-->

</section>
